.reveal {
    font-size: 75px;
}

.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
}

.pancakes .slides {
    top: 40% !important;
}

.pancakes section.present img.pancake {
    position: absolute;
    max-height: 1000px !important;
    top: 200px;
    left: 30%;
    transition: left 1s ease-in-out;
}

.commands section.present .git-commands {
    text-align: justify;
    font-family: monospace;
    font-size: 40px
}

.commands section.present .git-commands span {
    transition: opacity 1s ease-in-out;
}

.graph * {
    font-size: 38px;
}
